{% extends "parts/layoutAdmin.njk" %}

{% block content %}

<form method="POST" action="/admin/users/create">
    <h3 class="create">Criar Usuário</h3>
        
        {% include "admin/users/fields.njk" %}
</form>

{% endblock content%}