{% extends "parts/layoutAdmin.njk" %}

{% block content %}

<form action="/admin/users?_method=PUT" method="post">

    <h3 class="edit">Editar Usuário
        <button 
            form="delete" 
            class="button-del-user"
            id="del">Deletar
        </button>

        <button 
            type="submit" 
            class="button-save-user"
            >Salvar
        </button>
    </h3>
            {% include "admin/users/fields.njk"%}
    <input 
        type="hidden" 
        name="id" 
        value="{{user.id}}">
</form>

<form id="delete" action="/admin/users?_method=DELETE" method="post">
    <input 
        type="hidden" 
        name="id" 
        value="{{user.id}}">
</form>
{% endblock %}