{% extends "parts/layoutadmin.njk" %}

{% block content %}

<h2 class="index">Gerenciar Usuários
    <!--{% if session.isAdmin %}-->
    <button 
        class="button_new_user" 
        onclick="location.href='/admin/users/create'">Novo Usuário
    </button>
    <!--{% endif %}-->
</h2>

<div class="index_cards_chefs">
    {% for user in users %}
        <div class="cardindex_chefs">
                <div>
                    <h1>{{user.name}}</h1>
                    <a href="/admin/users/{{user.id}}/edit">Visualizar</a>
                </div>
        </div>
    {% endfor %}
</div> 

<div 
    class="pagination"
    data-page={{pagination.page}}
    data-total={{pagination.total}}
    data-filter={{filter}}>
</div>

{% endblock %}