{% extends "parts/layoutadmin.njk" %}

{% block content %}

<section class="users-list">
    <h2 class="index">Usuários Cadastrados</h2>

    <div class="index_cards_users">
        {% for user in users %}
            <div class="card_users">
                <div>
                    <h1>{{user.name}}</h1>
                    <p>{{user.email}}</p>
                    <a id="edit-user" href="/admin/users/{{user.id}}/edit">Editar</a>
                    <a id="remove-user" href="/admin/users/{{user.id}}/edit">Remover</a>
                </div>
            </div>
        {% endfor %}
    </div> 
</section>

<div 
    class="pagination"
    data-page={{pagination.page}}
    data-total={{pagination.total}}
    data-filter={{filter}}>
</div>

{% endblock %}