/*=== LISTAGEM RECEITAS ADMIN ===*/

.index{
    font-size: 24px;
    color: #111111 100%;
    margin-top: 50px;
    margin-left: 230px;
    margin-right: 230px;
}

.index_cards{
    max-width: 500px;
    margin-top: 30px;
    margin-left: 230px;
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.cardindex{
    word-wrap: break-word;
    max-width: 940px;
    display: grid;
    grid-template-columns: 172px 350px;
    gap: 0;
}

.cardindex div:nth-child(2),
.cardindex_chefs div:nth-child(2){
    margin: 0;
    margin-left: 20px;
}

.img_recipe{
    width: 172px;
    height: 80px;
    border-radius: 8px;
    margin: 0;
}

.cardindex h1{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #111;
    margin-bottom: 5px;
}

.cardindex h2{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #777;
    margin-bottom: 10px;
}

.cardindex a,
.cardindex_chefs a{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #6558C3;
    margin: 0;
}

.cardindex a:hover,
.cardindex_chefs a:hover{
    color: #F55A5A;
    transition: 300ms;
}

.modal{
    margin: 80px 400px 0 420px;
    background-color: white;
    height: 200px;
    width: 500px;
    border: 1px solid #777777;
    border-radius: 6px;
    box-shadow: 0px 2px 4px 2px #777777;
}

.modal p{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 56px;
    color: #777777;
}

 .alert{
    width: 450px;
    color: red;
    text-align: center;
    margin-left: 445px;
    margin-top: 10px;
    font-size: 16px;
    font-style: italic;
}

.modal button{
    width: 200px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 8px;
    border-radius: 4px;
    background-color:#6558C3;
    color: white;
    margin-top: 48px;
    margin-left: 150px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px #6558C3;
}

/*=== SHOW- DETALHE DA RECEITA ADMIN ====*/

.show{
    font-size: 24px;
    color: #111111;
    margin-left: 230px;
    margin-top: 30px;
    word-wrap: break-word;
}

.show_title p{
    margin-left: 230px;
    margin-top: 16px;
    color: #777777;
    font-weight: bold;
    font-size: 18px;
}

.button_edit_recipe,
.button_edit_chef{
    font-weight: bold;
    font-size: 16px;
    width: 139px;
    height: 37px;
    text-decoration: none;
    background-color:#6558C3;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 1030px;
    top: 64px;
    box-shadow: 2px 2px 4px 0px #6558C3;
}

/*=== FIELDS ADMIN RECIPES ===*/

.item h2{
    font-size: 16px;
    font-weight: bold;
    color: #111;
    margin-bottom: 10px;
    margin-left: 230px;
    margin-top: 40px;
}

.item .input,
.item textarea{
    width: 940px;
    height: 49px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 16px;
    outline: none;
    color: #666;
    margin-top: 10px;
    margin-left: 230px;
}

.item select{
    width: 962px;
    height: 59px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 16px;
    outline: none;
    color: #666;
    margin-top: 10px;
    margin-left: 230px;
}

input::placeholder{
    font-size: 14px;
}

.item .information textarea {
    height: 200px;
    resize: none;
    margin-bottom: 50px;
}
.add_new_ingredient,
.add_new_pass{
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #6558C3;
    margin-left: 230px;
    margin-top: 15px;
    cursor: pointer;
}

.remove_ingredients,
.remove_preparation{
    background-color: #DC4747;
    color:#FFFFFF;
    padding: 2px 6px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
}

/*=== CREATE ADMIN RECIPES/CHEFS ===*/

.create{
    font-size: 24px;
    box-sizing: border-box;
    width: 1300;
    margin-left: 230px;
    margin-top: 32px;
}
.button_save{
    width: 139px;
    height: 37px;
    margin-left: 615px;
    background-color: #6558C3;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px #6558C3;
}

.button_edit_chef_save{
    width: 139px;
    height: 37px;
    background-color: #6558C3;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px #6558C3;
}


.button_create_recipe{
    font-weight: bold;
    font-size: 16px;
    padding: 8px 16px;
    text-decoration: none;
    background-color:#6558C3;
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    margin-left: 600px;
    margin-bottom: 56px;
    cursor: pointer;
    box-shadow: 0px 2px 4px 2px  #6558C3;
}

/*=== EDIT ADMIN RECIPES/CHEFS ===*/

.edit{
    font-size: 24px;
    box-sizing: border-box;
    width: 1300;
    margin-left: 230px;
    margin-top: 32px;
}

.button_save_edit_recipe{
    width: 139px;
    height: 37px;
    background-color: #6558C3;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px #6558C3;
}


/*=== DELETE ADMIN RECIPES/CHEFS ===*/

.button_delete{
    width: 139px;
    height: 37px;
    background-color:#DC4747;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 510px; 
    box-shadow: 2px 2px 4px 0px #DC4747;
}

.button_delete_recipe{
    width: 139px;
    height: 37px;
    background-color:#DC4747;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 450px;
    margin-right: 8px;
    box-shadow: 2px 2px 4px 0px #DC4747;
}

/*=== INDEX ADMIN CHEFS ===*/

.index_cards_chefs{
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
}

.cardindex_chefs{
display: grid;
grid-template-columns: 64px 1fr;
align-items: center;
gap: 0;
}

.avatar_chefs{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.cardindex_chefs h1{
    text-transform: capitalize;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #111;
    margin-top: 8px;
    margin-bottom: 5px;
}

.cardindex_chefs p{
    font-size: 14px;
    color:#666666;
}

/*=== SHOW CHEFS ===*/

.img_chef_show img{
    border-radius: 50%;
    box-shadow: 0px 4px 8px 4px  #6558C3;
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-left: 600px;
}

.name_chef p{
    font-size: 20px;
    color: #777777;
}

.chef_recipe{
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    margin-left: 230px;
    margin-top: 78px;
}


