/*=== PAGINAÇÃO ===*/

.pagination{
    position: absolute;
    bottom: 72px;
    padding: 16px;
    margin-bottom: 16px;
    align-self: center;
    display: flex;
}

.pagination a,
.pagination span {
    color:gray;
    text-decoration: none;
    margin-right: 16px;
    font-weight: bold;
    font-size: 18px;
}

.pagination a:hover{
    color: black;
    filter: brightness(0.9); /*deixa mais escuro quando passo mouse*/
    border-bottom: 2px solid black;
    transition: 300ms;
}
.pagination a.activepage{
    color: black;
    border-bottom: 2px solid black;
}
