/*=== PAGINAÇÃO ===*/

.pagination{
    position: absolute;
    bottom: 72px;
    padding: 16px;
    margin-bottom: 16px;
    align-self: center;
    display: flex;
}
.pagination a{
    padding: 2px 6px;
    border-radius: 4px;
    border: 2px solid #6558C3;
}
.pagination a,
.pagination span {
    margin-right: 8px;
    font-weight: bold;
    font-size: 18px;
    transition: 300ms;
    text-decoration: none;
    color: #6558C3;
}

.pagination a:hover{
    color: white;
    background-color: #6558C3;
    transition: 300ms;
}
.pagination a.activepage{
    color: white;
    background-color: #6558C3;
    text-decoration: none;
}
