/*===LOGIN-FORM===*/

.login-form{
    max-width: 500px;
    margin-left: 433px;
    margin-bottom: 56px;
}

.login-form a{
    font-size: 16px;
    color: #969696;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    margin-top: 28px;
}

.login-form a:hover{
    transition: 500ms;
    color: #6558C3;
}

.session-init{
    font-size: 24px;
    margin-top: 56px;
    text-align: center;
}

h4{
    font-size: 16px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 10px;
}

.input-login input{
    border: 1px solid #DDDDDD ;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
}

.error-mail{
    background-color: #DC4747;
    width: 340px;
    height: 110px;
    padding: 0 16px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
}

.input-login input::placeholder{
    font-size: 16px;
    color: #999999;
}

.footer a{
    font-size: 16px;
    color: #969696;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    margin-top: 50px;
}

.footer a:hover{
    color:#DC4747;
    transition: 500ms;
}

.button_login{
    background: #6558C3;
    border-radius: 4px;
    color:#FFFFFF ;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 8px 16px;
    width: 134px;
    height: 37px;
    margin-top: 30px;
    margin-left: 368px;
    cursor: pointer;
}

.button_forgot{
    background: #6558C3;
    border-radius: 4px;
    color:#FFFFFF ;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 8px 16px;
    width: 134px;
    height: 37px;
    margin-top: 20px;
    margin-left: 368px;
    cursor: pointer;
}


/*=== CADASTRO NOVO USUÁRIO ===*/

.user-register{
    max-width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.user-input1{
    width: 450px;
    height: 50px;
    border: 1px solid #DDDDDD;
    margin-left: 230px;
    font-size: 16px;
}

.user-input2{
    width: 450px;
    height: 50px;
    border: 1px solid #DDDDDD;
    margin-left: 40px;
    font-size: 16px;
}

#name-user,
#email-user{
    font-size: 16px;
    font-weight: bold;
    color: #111;
    margin-top: 70px;
    margin-bottom: 10px;
}
#name-user{
    margin-left: 230px;
}

#email-user{
    margin-left: 40px;
}

.item input[type="checkbox"]{
    margin-left: 230px;
    margin-top: 35px;
}

.item label{
    font-size: 16px;
    font-weight: bold;
}

.user-save,
.user-cancel{
    font-weight: bold;
    font-size: 16px;
    width: 139px;
    height: 37px;
    text-decoration: none;
    border-radius: 4px;
    color:white;
    cursor: pointer;
    
}

.user-save{
    background-color: #6558C3;
    position: absolute;
    left: 885px;
    top: 140px;
    box-shadow: 2px 2px 4px 0px #6558C3;
}

.user-cancel{
    background-color:#8A8A8A ;
    position: absolute;
    left: 1035px;
    top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 4px 0px #8A8A8A;
}

/*=== EDIT USER ===*/

.button-save-user,
.button-del-user{
    width: 139px;
    height: 37px;
    color:white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.button-save-user{
    background-color: #7159C1;
    box-shadow: 2px 2px 4px 0px #6558C3;
}

.button-del-user{
    background-color: #DC4747;
    margin-left: 475px;
    box-shadow: 2px 2px 4px 0px #DC4747;
}




