/*=== LISTAGEM DE USUÁRIOS ===*/

.user-list{
    max-width: 940px;
}

.button_new_user{
    font-weight: bold;
    font-size: 16px;
    width: 139px;
    height: 37px;
    text-decoration: none;
    border-radius: 4px;
    color:white;
    cursor: pointer;
    background-color: #6558C3;
    position: absolute;
    margin-left: 500px;
}

.index_cards_users{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 72px;
    gap: 52px;
    margin-bottom: 64px;
}


.card_users h1{
    font-size: 18px;
    color: #111111;
}

.card_users p{
    font-size: 14px;
    color: #777777;
    margin-top: 4px;
    margin-bottom: 16px;
}

.card_users a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 4px;
}

#edit-user{
    color: #6558C3;
}

#remove-user{
    color: #F55A5A;
}

#edit-user:hover{
    border: 1px solid #6558C3;
}

#remove-user:hover{
    border: 1px solid #F55A5A;
}

