{% extends "parts/layoutadmin.njk" %}

{% block content %}

<h3 class="index">Gerenciar Receitas</h3>

{% if recipes %}
<div class="index_cards">
    {% for recipe in recipes %}
        <div class="cardindex">
            <div>
                <img class="img_recipe"
                    src="{{recipe.image}}" 
                    alt="{{recipe.title}}" 
                    srcset="">
            </div>
                <div>
                    <h1>{{recipe.title}}</h1>
                    <h2>por {{recipe.chef_name}}</h2>
                    {% if recipe.user_id == idUser %}
                        <a href="/admin/recipes/{{recipe.id}}/edit">Editar</a>
                    {% endif %}
                        <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                </div>
        </div>
    {% endfor %}
</div> 

{% else %}
    <div class="modal">
        <p>Você não tem receitas cadastradas !</p>

        <button onclick="window.location.href='/admin/recipes/create'"
            class="modal-new-recipe">Cadastre uma Receita
        </button>
    </div>
{% endif %}

<div 
    class="pagination"
    data-page={{pagination.page}}
    data-total={{pagination.total}}
    data-filter={{filter}}>
</div>

{% endblock %}