<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}
        <title>FoodFy - Administração</title>
    {% endblock %}

    {% include "parts/styles.njk"%}
</head>

<body>
    <header class = "admin">
        <div>
            {% include "parts/links-admin.njk" %}
        </div>
    </header>

    {% include "parts/messages.njk"%}

    {% block content%} 
        {% include "parts/scripts.njk"%}
    {% endblock %}

    <footer class="rodape">
        <p>Todos os direitos reservados, receitas Foodfy &copy;</p>
    </footer>
</body>
</html>