<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}
        <title>FoodFy - Administração</title>
    {% endblock %}

    {% include "parts/styles.njk"%}
</head>

<body>
    <header class = "admin">
        <div>
            <a class="logo_admin" href="/"><img src="/images/logoadmin.png" alt="logoadmin"></a>
            <a id= "active_adm" class="linkadmin1" href="/admin/recipes">Receitas</a>
            <a id= "active_adm" class="linkadmin2" href="/admin/chefs">Chefs</a>
            <a id= "active_adm" class="linkadmin3" href="/admin/users">Usuários</a>
        </div>
    </header>

    {% include "parts/messages.njk"%}

    {% block content%} {% endblock %}

    {% include "parts/scripts.njk"%}

    <footer class="rodape">
        <p>Todos os direitos reservados, receitas Foodfy &copy;</p>
    </footer>
</body>
</html>