<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}
        <title>FoodFy</title>
    {% endblock %}

    {% include "parts/styles.njk"%}
</head>

<body>
    <header class="layout">
        <div class="links">
            <a href="/"><img src="/images/assets/logo.png" alt="logo"></a>
            <a id="active" class="about" href="/about">Sobre</a>
            <a id="active" class="recipes" href="/recipes">Receitas</a>
            <a id="active" class="chefs" href="/chefs">Chefs</a>
            <a class = "account" href="/accounts">
                <i class="material-icons">account_circle</i>
                    Entrar
            </a>
        </div>
        
<div class="search">
    <form action="/search" method="get">
        <input type="text" name="filter" placeholder= " Buscar uma receita" value={{filter}}>
        <button type="submit">Buscar</button>
    </form>
</div>
    </header>

{% block content%} {% endblock %}

{% include "parts/scripts.njk"%}

    <footer class="rodape">
        <p>Todos os direitos reservados, receitas Foodfy &copy;</p>
    </footer>
    
</body>
</html>