<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}
        <title>FoodFy</title>
    {% endblock %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/styles/homepage_style.css">
<link rel="stylesheet" href="/styles/admin_style.css">
<link rel="stylesheet" href="/styles/photos_style.css">
</head>

<body>
    <header class="layout">
        <div class="links">
            <a href="/"><img src="/images/logo.png" alt="logo"></a>
            <a id="active" class="about" href="/about">Sobre</a>
            <a id="active" class="recipes" href="/recipes">Receitas</a>
            <a id="active" class="chefs" href="/chefs">Chefs</a>
            <a id="active" class="admin1" href="/admin/recipes">Admin</a>
        </div>
        
<div class="search">
    <form action="/search" method="get">
        <input type="text" name="filter" placeholder= " Buscar uma receita" value={{filter}}>
        <button type="submit">Buscar</button>
    </form>
</div>
    </header>

{% block content%} {% endblock %}

    <footer class="rodape">
        <p>Todos os direitos reservados, receitas Foodfy &copy;</p>
    </footer>

    <script src="/scripts/header_and_cards_home.js"></script>
    <script src="/scripts/show_hide_buttons.js"></script>
    <script src="/scripts/pagination.js"></script>
    <script src="/scripts/image_upload.js"></script>
</body>
</html>