<a class="logo_admin" href="/"><img src="/images/logoadmin.png" alt="logoadmin"></a>      
<a id= "active_adm" class="linkadmin1" href="/admin/recipes">Receitas</a>
<a id= "active_adm" class="linkadmin2" href="/admin/chefs">Chefs</a>
<a id= "active_adm" class="linkadmin3" href="/admin/users">Usuários</a>
<a id= "active_adm" class="linkadmin3" href="/admin/users/profile">Perfil</a>

<form action="/admin/session/logout" method="post" class="button-logout">
    <a id= "active_adm" class="linkadmin3" href="/">Sair
        <i class="material-icons">power_settings_new</i>
    </a>
</form>