<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}
        <title>FoodFy - Login</title>
    {% endblock %}

    {% include "parts/styles.njk"%}
</head>

<body>
    <header>
        <div class="img-login">
            <img src="/images/logo.png" alt="logoadmin">
        </div>
    </header>

{% include "parts/messages.njk"%}

{% block content%} {% endblock %}

<footer class="rodape">
    <p>Todos os direitos reservados, receitas Foodfy &copy;</p>
</footer>

{% include "parts/scripts.njk"%}
</body>
</html>