<script src="/scripts/header_admin.js"></script>
<script src="/scripts/function_add_pass_and_ingredients.js"></script>
<script src="/scripts/remove_fields.js"></script>
<script src="/scripts/confirm_delete.js"></script>
<script src="/scripts/pagination.js"></script>
<script src="/scripts/image_upload.js"></script>
<script src="/scripts/avatar_image_upload.js"></script>
<script src="/scripts/header_and_cards_home.js"></script>
<script src="/scripts/show_hide_buttons.js"></script>
<script src="/scripts/validators.js"></script>