<link rel="stylesheet" href="/styles/homepage_style.css">
<link rel="stylesheet" href="/styles/admin_style.css">
<link rel="stylesheet" href="/styles/photos_style.css">
<link rel="stylesheet" href="/styles/users.css">
<link rel="stylesheet" href="'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
