<link rel="stylesheet" href="'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap'">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >

<link rel="stylesheet" href="/styles/admin_style.css">
<link rel="stylesheet" href="/styles/homepage_style.css">
<link rel="stylesheet" href="/styles/layouts.css">
<link rel="stylesheet" href="/styles/menu-admin.css">
<link rel="stylesheet" href="/styles/messages.css">
<link rel="stylesheet" href="/styles/pagination.css">
<link rel="stylesheet" href="/styles/photos_style.css">
<link rel="stylesheet" href="/styles/profile.css">
<link rel="stylesheet" href="/styles/users.css">
<link rel="stylesheet" href="/styles/users-list.css">
